<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Didact Gothic"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Kalam"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css"
    />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>Shear Connections</title>
  </head>
  <body>
    <!-- navbar -->
    <header class="navbar p-sticky">
      <section class="navbar-section">
        <h1>
          <a href="/" class="text-large text-light">Shear Connections!</a>
        </h1>
      </section>
      <section class="navbar-section just">
        {{#if loggedIn}}
          <a href="/review" id="reviewBtn" class="btn btn-lg col-3 m-1">Leave a
            review</a>
          <button class="btn btn-primary" type="submit" id="logout-btn">Log Out</button>
        {{/if}}
        <a href="/login" class="btn btn-lg col-3 m-1" id="login-btn">Login</a>
        <a href="/cosmosignup" class="btn btn-lg col-3 m-1">Cosmo Sign Up</a>
        <a href="/usersignup" class="btn btn-lg col-3 m-1">New User Sign Up</a>

      </section>
    </header>
    <main>
      {{{body}}}
    </main>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>