<div class="modal active" id="modal-id"><button></button>
        <a href="#close" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="/" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">User Log In</div>
                <div>Enter your information to sign in!</div>
            </div>
            <div class="modal-body">
                <span class="content">
                    <form class="form-horizontal" id="signUpForm">
                        <!-- Form Options -->
                        <div class="form-group">
                            <div class="col-3 col-sm-12">
                                <label class="form-label" for="username">Username</label>
                            </div>
                            <div class="col-9 col-sm-12">
                                <input class="form-input" type="text" id="username" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-3 col-sm-12">
                                <label class="form-label" for="user-name">Password:</label>
                            </div>
                            <div class="col-9 col-sm-12">
                                <input class="form-input" type="text" id="pw-input" placeholder="password">
                            </div>
                        </div>
                        <button class="btn btn-primary" type="button" id="cancel-btn">Cancel</button>
                        <button class="btn btn-primary" type="submit" id="login-btn-modal">Log In</button>
            </div>
            </form>
            </span>
        </div>
    </div>
    <script src='/javascript/login.js'></script>