<div class="modal active" id="modal-id"><button>Open</button>
        <a href="#close" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="/" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">New User Sign-up</div>
                <div>Fill in the following to be able to login to leave reviews and search for Cosmetologists in your area!</div>
            </div>
            <div class="modal-body">
                <span class="content">
                    <form class="form-horizontal" id="signUpForm">
                        <!-- Form Options -->
                        <div class="form-group">
                            <div class="col-3 col-sm-12">
                                <label class="form-label" for="username">User Name</label>
                            </div>
                            <div class="col-9 col-sm-12">
                                <input class="form-input" type="text" id="un-input" placeholder="User Name">
                            </div>
                        </div>                        
                        <div class="form-group">
                            <div class="col-3 col-sm-12">
                                <label class="form-label" for="password">Password:</label>
                            </div>
                            <div class="col-9 col-sm-12">
                                <input class="form-input" type="text" id="pw-input" placeholder="password">
                            </div>
                        </div>
                        
                        <button class="btn btn-primary" type="button" id="cancel-btn">Cancel</button>
                        <button class="btn btn-primary" type="submit" id="sign-up-btn">Submit</button>
            </div>
            </form>
            </span>
        </div>
    </div>
    <script src='/javascript/user-signup.js'></script>