:root {
    --primary-color: #fce138;
    --secondary-color: #6bc6f7;
    --tertiary-color: rgb(245, 234, 234);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
    background-color: var(--secondary-color);
    padding-bottom: 50px;
    padding-top: 30px;
}

header section h1 a {
    color: white;
    margin: 5px;
    padding: 20px;
    align-items: left;
    font-family: 'Kalam';font-size: 22px;
}

body {
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: 'Didact Gothic';font-size: 22px;
}

.search {
    padding: 20px;
}

#search {
    text-align: center;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
       
}

#container {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: sans-serif; font-size: 16px; 
    
    
}

.panel {
    background-color: var(--tertiary-color);
    
}

.h3 {
    margin: 10px;
}







